/* Content */
.tab-content {
	position: relative;
}

.tab-content section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}

.tab-content section.content-current {
	display: block;
}

.tab-content section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}




body {
	background: #e7ecea;
	color: #74777b;
}
